*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.sidebar{
    background-color: skyblue;
    position: fixed;
    height: 100vh;
    z-index: 1;
    top:0;
    left:0;
    padding-top: 3em;
    transition: .5s;
    width: 0;
    overflow-x: hidden;

}
.sidebar a{
    text-decoration: none;
    display: block;
    padding: .5rem .5rem 2rem 2rem ;
    font-size: 1.5rem;
    color: #000;
    text-transform: uppercase;
    font-family: sans-serif;
    transition: .3s;

}
.sidebar a:hover{
          color:#fff;

}
.closebtn{
    position: absolute;
    top: 0;
    right:25;
    font-size: 20px !important;


}
.openbtn {
    background-color: skyblue;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 10 px;
    transition: all .5s;
    margin: 1em;
}
.openbtn:hover{
    background-color: black;
    color: white;
}